APP_ENV=local

# Database
# Postgres (default)
APP_DB_DRIVER=pgx
APP_DB_HOST=127.0.0.1
APP_DB_PORT=5432
APP_DB_NAME=skinprice
APP_DB_USER=skinprice
APP_DB_PASSWORD=skinprice
APP_DB_SSLMODE=disable
APP_DB_DEBUG=false
APP_DB_MAX_OPEN_CONNS=10
APP_DB_MAX_IDLE_CONNS=10
APP_DB_CONN_MAX_LIFE_TIME=300

# SQLite example:
# APP_DB_DRIVER=sqlite3
# APP_DB_NAME=./skinprice.db

STEAM_BASE_URL=https://steamcommunity.com/market
LISSKINS_BASE_URL=https://lis-skins.ru

HTTP_TIMEOUT_SECONDS=10
CACHE_TTL_SECONDS=300
